<div class="column is-9">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>Dashboard</li>
        </ul>
    </nav>
    <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title" id="biggreet">
                    Hello, there.
                </h1>
                <h2 class="subtitle">
                    Welcome to the GIS website!
                </h2>
            </div>
        </div>
    </section>
    <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title" id="total">0</p>
                    <p class="subtitle">Total</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title" id="point">0</p>
                    <p class="subtitle">Point</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title" id="linestring">0</p>
                    <p class="subtitle">LineString</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title" id="poligon">0</p>
                    <p class="subtitle">Polygon</p>
                </article>
            </div>
        </div>
    </section>
</div>