<div class="column is-9">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>Maps</a>
        </ul>
    </nav>
    <div class="min-h-screen bg-gray-100">

        <main>
            <div class="py-12">
                <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                    <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg py-4 px-4">
                            <div class="address">
                                <div class="item mb-2 md:flex md:flex-wrap md:justify-between">
                                    <div wire:id="rbWM5jbW8w1GcT2ql3DF" class="container w-full px-4 sm:px-8">
                                        <div class="flex flex-col">
                                            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                                <div class="py-2 inline-block w-full sm:px-6 lg:px-8">

                                                    <div class="table-wrp block max-h-96">
                                                        <table class="w-full">
                                                            <thead class="bg-white border-b sticky top-0">
                                                                <tr>
                                                                    <th scope="col"
                                                                        class="text-md font-medium text-gray-900 px-6 py-4 text-left">
                                                                        Nomor
                                                                    </th>
                                                                    <th scope="col"
                                                                        class="text-md font-medium text-gray-900 px-6 py-4 text-left">
                                                                        Nama Stadium
                                                                    </th>
                                                                    <th scope="col"
                                                                        class="text-md font-medium text-gray-900 px-6 py-4 text-left">
                                                                        Tipe Draw Pointing
                                                                    </th>
                                                                    <th scope="col"
                                                                        class="text-md font-medium text-gray-900 px-6 py-4 text-left">
                                                                        Kordinat
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="h-96 overflow-y-auto" id="table-body">
                                                                <tr
                                                                    class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                                                    <td
                                                                        class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                                        <input type="checkbox" name="address" value="1">
                                                                    </td>
                                                                    <td
                                                                        class="text-sm font-extrabold text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                                        Lorem </td>
                                                                    <td
                                                                        class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                                        Ipsum </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Livewire Component wire-end:rbWM5jbW8w1GcT2ql3DF -->

                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>